body {
  background-color: black;
  color: rgb(205, 205, 205);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-in, transform 0.75s ease-in;
}

.header-container.visible {
  opacity: 1;
  transform: translate(0px);
}

.header-container p {
  color: #c4c4c4;
  text-shadow: 0 0 4px #b2b2b2;
  font-weight: bold;
  font-size: 1.5vw;
}

.about {
  background-color: black;
  color: rgb(205, 205, 205);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  text-decoration: none;
  text-shadow: 0 0 4px #b2b2b2;
  font-weight: bold;
  font-size: 1.5vw;
  transition: text-shadow 0.3s ease-in-out;
  cursor: pointer;
}
.about:hover {
  text-shadow: 0 0 10px #b2b2b2;
}

.left-header-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.spotify-icon {
  width: 2vw;
  height: auto;
}

.title-container,
.about-page {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.title-container.visible,
.about-page.visible {
  display: flex;
  margin-top: 15vh;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-shadow: 0 0 40px #fcfcfc;
  opacity: 1;
}

.artistblender,
.about-title {
  font-size: 6vw;
  margin-bottom: 0px;
  background: linear-gradient(to bottom, #e5e5e5, #656565);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.2vw;
}

.sign-up {
  margin-top: 4vh;
  border: none;
  padding: 20px;
  font-size: 1vw;
  border-radius: 12px;
  background-color: #c8c8c8;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px #f9f9f9;
  transition: box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.sign-up:hover {
  box-shadow: 0 0 50px rgb(0, 162, 0);
  background-color: rgb(0, 198, 0);
}

.Thomas {
  display: flex;
  width: 15vw;
  height: 60%;
  border-radius: 20%;
  border-radius: 20px;
  object-fit: cover;
}

.about-page.visible {
  margin-top: 0px;
  height: 40vh;
}

.about-container {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  text-align: center;
  height: 60vh fit-content;
  width: 50vw;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  font-size: 25px;
}

.about-title {
  font-size: 40px;
  font-weight: bold;
}

.about-info {
  margin-top: 4vh;
  width: 500;
  text-shadow: 0 0 40px #fcfcfc;
}
